/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
    color: #ffffff;
    padding: 40px 20px;
}

/* CONTAINER */
.container {
    background-color: #1a1a1a;
    padding: 40px;
    max-width: 650px;
    margin: auto;
    border-radius: 16px;
    box-shadow: 0 0 25px rgba(167, 139, 250, 0.2);
}

/* TITLE */
.title {
    text-align: center;
    font-size: 36px;
    color: #693bd8;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: #cccccc;
    margin-bottom: 25px;
    font-size: 16px;
}

/* LABEL */
.input-label {
    font-size: 16px;
    color: #dddddd;
    margin-bottom: 6px;
    display: block;
    margin-top: 20px;
}

/* INPUT BOXES */
.input-box {
    width: 100%;
    padding: 14px;
    background-color: #262626;
    border: 1px solid #404040;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}

.input-box:focus {
    border-color: #693bd8;
    outline: none;
}

/* BUTTON */
.btn {
    width: 100%;
    padding: 16px;
    background-color: #693bd8;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #9333ea;
}

/* RESULT BOX */
.result-box {
    margin-top: 25px;
    padding: 20px;
    border-radius: 12px;
    background-color: #262626;
    border: 1px solid #404040;

}

.result-box.show {
    display: block;
}

.result-box h3 {
    color: #a78bfa;
    margin-bottom: 10px;
}

.result-box p {
    color: #dddddd;
    line-height: 1.6;
}
